<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/logo.png}">
    <title>Edit Pengawas</title>
    <link rel="stylesheet" th:href="@{/css/tambah-pengawas.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
    <!-- Sidebar : navigasi halaman lainnya -->
    <div class="sidebar">
        <div class="logo-details">
            <img th:src="@{/img/logo.png}">
            <div class="logo-name">
                SPMB
                <p>POLITEKNIK STATISTIKA STIS</p>
            </div>
            <i class="fa-solid fa-bars" id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a th:href="@{'/dashboard'}">
                    <i class="fa-solid fa-house"></i>
                    <span class="links-name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a th:href="@{'/daftar-pengawas'}">
                    <i class="fa-solid fa-user-tie"></i>
                    <span class="links-name">Pengawas</span>
                </a>
                <span class="tooltip">Pengawas</span>
            </li>
            <li>
                <a th:href="@{'/daftar-peserta'}">
                    <i class="fa-solid fa-user"></i>
                    <span class="links-name">Peserta</span>
                </a>
                <span class="tooltip">Peserta</span>
            </li>
            <li>
                <a th:href="@{'/jadwal'}">
                    <i class="fa-solid fa-calendar-alt"></i>
                    <span class="links-name">Jadwal</span>
                </a>
                <span class="tooltip">Jadwal</span>
            </li>
            <li>
                <a th:href="@{'/daftar-laporan'}">
                    <i class="fa-solid fa-file-alt"></i>
                    <span class="links-name">Laporan</span>
                </a>
                <span class="tooltip">Laporan</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <!-- <img src="profile.jpg" alt="profileImg"> -->
                    <div class="name_status">
                        <div class="name">
                            <span sec:authentication="name"></span>
                        </div>
                        <div class="status">
                            <span sec:authentication="principal.authorities"></span>
                        </div>
                    </div>
                </div>
                <a th:href="@{'/logout'}" id="logout">
                    <i class="fa-solid fa-sign-out-alt" id="logout"></i>
                    <span class="tooltip">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Section : konten yang ditampilkan -->
    <section>
        <div class="container">
            <!-- Header : judul halaman dan akun aktif pengguna -->
            <div class="header">
                <h3>Edit Pengawas</h3>
                <div class="user-profile">
                    <div class="status">
                        <h4 sec:authentication="name"></h4>
                        <p sec:authentication="principal.authorities"></p>
                    </div>
                    <div class="photo">
                        <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" width="50">
                    </div>
                </div>
            </div>
            <div class="content">
                <form th:object="${pengawas}" th:action="@{/update-pengawas}" method="post">
                    <div class="form first">
                        <div class="details personal">
                            <span class="title">Data Diri Pengawas</span>
        
                            <div class="fields">

                                <div class="input-field">
                                    <label>Nama Lengkap</label>
                                    <input type="text" id="nama" th:field="*{nama}" placeholder="Masukkan nama lengkap" required>
                                </div>

                                <div class="input-field">
                                    <label>Status</label>
                                    <select id="status" th:field="*{status}" required>
                                        <option value="" disabled selected>Pilih Status</option>
                                        <option value="Pengawas SPMB">Pengawas SPMB</option>
                                        <option value="Panitia SPMB">Panitia SPMB</option>
                                    </select>
                                </div>
        
                                <div class="input-field">
                                    <label>Alamat Kantor</label>
                                    <select th:field="*{alamat}" id="alamat" required>
                                        <option value="" disabled selected>Pilihan formasi</option>
                                        <option value="Politeknik Statistika STIS">Politeknik Statistika STIS</option>
                                        <option value="BPS Pusat">BPS Pusat</option>
                                        <option value="BPS Aceh">BPS Aceh</option>
                                        <option value="BPS Sumatera Utara">BPS Sumatera Utara</option>
                                        <option value="BPS Sumatera Barat">BPS Sumatera Barat</option>
                                        <option value="BPS Riau">BPS Riau</option>
                                        <option value="BPS Jambi">BPS Jambi</option>
                                        <option value="BPS Sumatera Selatan">BPS Sumatera Selatan</option>
                                        <option value="BPS Bengkulu">BPS Bengkulu</option>
                                        <option value="BPS Lampung">BPS Lampung</option>
                                        <option value="BPS Banten">BPS Banten</option>
                                        <option value="BPS DKI Jakarta">BPS DKI Jakarta</option>
                                        <option value="BPS Jawa Barat">BPS Jawa Barat</option>
                                        <option value="BPS Jawa Tengah">BPS Jawa Tengah</option>
                                        <option value="BPS Jawa Timur">BPS Jawa Timur</option>
                                        <option value="BPS DI Yogyakarta">BPS DI Yogyakarta</option>
                                        <option value="BPS Bali">BPS Bali</option>
                                        <option value="BPS Nusa Tenggara Barat">BPS Nusa Tenggara Barat</option>
                                        <option value="BPS Nusa Tenggara Timur">BPS Nusa Tenggara Timur</option>
                                        <option value="BPS Kalimantan Barat">BPS Kalimantan Barat</option>
                                        <option value="BPS Kalimantan Tengah">BPS Kalimantan Tengah</option>
                                        <option value="BPS Kalimantan Selatan">BPS Kalimantan Selatan</option>
                                        <option value="BPS Kalimantan Timur">BPS Kalimantan Timur</option>
                                        <option value="BPS Kalimantan Utara">BPS Kalimantan Utara</option>
                                        <option value="BPS Sulawesi Utara">BPS Sulawesi Utara</option>
                                        <option value="BPS Sulawesi Tengah">BPS Sulawesi Tengah</option>
                                        <option value="BPS Sulawesi Selatan">BPS Sulawesi Selatan</option>
                                        <option value="BPS Sulawesi Tenggara">BPS Sulawesi Tenggara</option>
                                        <option value="BPS Sulawesi Barat">BPS Sulawesi Barat</option>
                                        <option value="BPS Gorontalo">BPS Gorontalo</option>
                                        <option value="BPS Sulawesi Barat">BPS Sulawesi Barat</option>
                                        <option value="BPS Maluku">BPS Maluku</option>
                                        <option value="BPS Maluku Utara">BPS Maluku Utara</option>
                                        <option value="BPS Papua Barat">BPS Papua Barat</option>
                                        <option value="BPS Papua">BPS Papua</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label>Nomor Induk Pegawai</label>
                                    <input type="text" id="nip" th:field="*{username}"  placeholder="Masukkan NIP" required>
                                </div>

                                <div class="input-field">
                                    <label>Password</label>
                                    <input type="text" id="password" th:field="*{password}" placeholder="Masukkan password" required>
                                </div>

                                <div class="input-field">
                                    <label for="photo">Pas Foto</label>
                                    <div class="input-photo">
                                        <input type="file" id="gambar" th:field="*{gambar}" value="Pilih foto" required>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="details ID">
                            <span class="title">Detail Pelaksanaan Tes</span>
                            
                            <div class="fields">

                                <div class="input-field">
                                    <label>Jadwal Tes Tahap 1</label>
                                    <input type="date" th:field="*{tahap_1}" id="tahap_1" required>
                                </div>

                                <div class="input-field">
                                    <label>Jadwal Tes Tahap  2</label>
                                    <input type="date" name="tahap_2" id="tahap_2">
                                </div>

                                <div class="input-field">
                                    <label>Jadwal Tes Tahap  3</label>
                                    <input type="date" name="tahap_3" id="tahap_3">
                                </div>

                                <div class="input-field">
                                    <label>Lokasi Tes Tahap 1</label>
                                    <select id="lokasi_1" th:field="*{lokasi_1}" required>
                                        <option value="" disabled selected>Pilih Lokasi</option>
                                        <option value="Zoom 001 - Sesi 1">Zoom 001 - Sesi 1</option>
                                        <option value="Zoom 001 - Sesi 2">Zoom 001 - Sesi 2</option>
                                        <option value="Zoom 001 - Sesi 3">Zoom 001 - Sesi 3</option>
                                        <option value="Zoom 002 - Sesi 1">Zoom 002 - Sesi 1</option>
                                        <option value="Zoom 002 - Sesi 2">Zoom 002 - Sesi 2</option>
                                        <option value="Zoom 002 - Sesi 3">Zoom 002 - Sesi 3</option>
                                        <option value="Zoom 003 - Sesi 1">Zoom 001 - Sesi 1</option>
                                        <option value="Zoom 003 - Sesi 2">Zoom 003 - Sesi 2</option>
                                        <option value="Zoom 003 - Sesi 3">Zoom 003 - Sesi 3</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label>Lokasi Tes Tahap  2</label>
                                    <select id="lokasi_2" name="lokasi_2">
                                        <option value="" disabled selected>Pilih Lokasi</option>
                                        <option value="Zoom 001 - Sesi 1">Zoom 001 - Sesi 1</option>
                                        <option value="Zoom 001 - Sesi 2">Zoom 001 - Sesi 2</option>
                                        <option value="Zoom 001 - Sesi 3">Zoom 001 - Sesi 3</option>
                                        <option value="Zoom 002 - Sesi 1">Zoom 002 - Sesi 1</option>
                                        <option value="Zoom 002 - Sesi 2">Zoom 002 - Sesi 2</option>
                                        <option value="Zoom 002 - Sesi 3">Zoom 002 - Sesi 3</option>
                                        <option value="Zoom 003 - Sesi 1">Zoom 001 - Sesi 1</option>
                                        <option value="Zoom 003 - Sesi 2">Zoom 003 - Sesi 2</option>
                                        <option value="Zoom 003 - Sesi 3">Zoom 003 - Sesi 3</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label>Lokasi Tes Tahap  3</label>
                                    <select id="lokasi_3" name="lokasi_3">
                                        <option value="" disabled selected>Pilih Lokasi</option>
                                        <option value="Zoom 001 - Sesi 1">Zoom 001 - Sesi 1</option>
                                        <option value="Zoom 001 - Sesi 2">Zoom 001 - Sesi 2</option>
                                        <option value="Zoom 001 - Sesi 3">Zoom 001 - Sesi 3</option>
                                        <option value="Zoom 002 - Sesi 1">Zoom 002 - Sesi 1</option>
                                        <option value="Zoom 002 - Sesi 2">Zoom 002 - Sesi 2</option>
                                        <option value="Zoom 002 - Sesi 3">Zoom 002 - Sesi 3</option>
                                        <option value="Zoom 003 - Sesi 1">Zoom 001 - Sesi 1</option>
                                        <option value="Zoom 003 - Sesi 2">Zoom 003 - Sesi 2</option>
                                        <option value="Zoom 003 - Sesi 3">Zoom 003 - Sesi 3</option>
                                    </select>
                                </div>

                            </div>


                        </div>
                        <input type="hidden" th:field="*{id}">
                        <div class="buttons">
                            <!-- <button class="">
                                <span class="btnText">Batal</span>
                            </button> -->
                            <input type="reset" class="reset" id="button" value="Batal" onclick="location.href='/daftar-pengawas'"></input>

                            <input type="submit" class="submit" id="button" value="Tambah"></input>

                            <!-- <button class="sumbit">
                                <span class="btnText">Tambah</
                            </button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    <script th:src="@{/js/script.js}"></script>
    <script src="https://kit.fontawesome.com/6265d9d0e3.js" crossorigin="anonymous"></script>
</body>
</html>